.three {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 1rem;
}
.para {
  width: 18rem;
  margin-top: 2rem;
  font-size: 1rem;
}
.head {
  text-align: center;
  padding-top: 3.5rem;
  font-size: 2.5rem;
}
.head-two {
  font-size: 1.5rem;
}
.span {
  color: #fb5112;
}
.first,
.second,
.third {
  padding-top: 2rem;
}
.main-div {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
hr {
  width: 10rem;
  height: 0.2rem;
  border: none;
  background-color: #7e0000;
  /* color: #fb5112; */
  border-radius: 2rem;
}
.line {
  display: flex;
  justify-content: center;
}
