@media(max-width:818px){
    .medias{
        flex-direction: column;
    }
    .select{
        margin-top: 1rem;
    }
    #go{
        margin-top: 1rem;
    }
    #select{
        margin-top: 1rem;
    }
}